@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  /* Colors */
  --color-primary-50: #FFF0F9;
  --color-primary-100: #FFE3F6;
  --color-primary-200: #FFC6EC;
  --color-primary-300: #FF98DB;
  --color-primary-400: #FF58C0;
  --color-primary-500: #FF27A5;
  --color-primary-600: #FF007F;
  --color-primary-700: #DF0063;
  --color-primary-800: #B80052;
  --color-primary-900: #980347;
  --color-primary-950: #5F0026;

  --color-woodsmoke-50: #F7F7F8;
  --color-woodsmoke-100: #EDEDF1;
  --color-woodsmoke-200: #D8D9DF;
  --color-woodsmoke-300: #B5B6C4;
  --color-woodsmoke-400: #A8AAC1;
  --color-woodsmoke-500: #80829B;
  --color-woodsmoke-600: #595A70;
  --color-woodsmoke-700: #3C3D4D;
  --color-woodsmoke-800: #2A2A33;
  --color-woodsmoke-900: #1C1C22;
  --color-woodsmoke-950: #0F0F12;
}

/* Utilities */
@utility container {
  @apply px-20 mx-auto 2xl:max-w-[1440px] xl:max-w-[1440px];
}

@utility prose-tx3 {
  --tw-prose-body: var(--color-zinc-200);
  --tw-prose-headings: var(--color-zinc-50);
  --tw-prose-lead: var(--color-zinc-400);
  --tw-prose-links: var(--color-blue-400);
  --tw-prose-bold: var(--color-zinc-50);
  --tw-prose-counters: var(--color-zinc-200);
  --tw-prose-bullets: var(--color-zinc-200);
  --tw-prose-hr: var(--color-zinc-300);
  --tw-prose-quotes: var(--color-zinc-50);
  --tw-prose-quote-borders: var(--color-zinc-300);
  --tw-prose-captions: var(--color-zinc-400);
  --tw-prose-code: var(--color-zinc-500);
  --tw-prose-pre-code: var(--color-zinc-100);
  --tw-prose-pre-bg: var(--color-zinc-800);
  --tw-prose-th-borders: var(--color-zinc-300);
  --tw-prose-td-borders: var(--color-zinc-200);
}

/* Layers */

@layer base {
  body {
    @apply dark:bg-zinc-950 dark:text-zinc-50 min-h-dvh flex flex-col overflow-x-hidden;
  }
}

@layer components {
  @supports (scrollbar-color: auto) {
    .custom-scrollbar {
      scrollbar-color: var(--color-zinc-600) transparent;
      scrollbar-width: thin;
    }
  }

  .header-grid {
    @apply grid grid-cols-[auto_1fr_auto] xl:grid-cols-[minmax(0,1fr)_minmax(500px,1fr)_minmax(0,1fr)] gap-4;
    grid-template-areas: "logo center nav";
  }
}